<div class="page-container">
  <div class="card">
    <h1>Welcome back</h1>
    <form [formGroup]="form" class="form">

      <div class="form-group">
        <label for="email" class="form-label">Email Address</label>
        <input
          type="email"
          id="email"
          class="form-input"
          formControlName="email"
          name="email"
          placeholder="Enter your email"/>
        @if (form.get('email')?.invalid && form.get('email')?.touched) {
          <div class="error">Email is required.</div>
        }
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          class="form-input"
          formControlName="password"
          name="password"
          placeholder="Enter your password"/>
        @if (form.get('password')?.invalid && form.get('password')?.touched) {
          <div class="error">Password is required.</div>
        }
      </div>

      <button type="submit" class="btn-primary" (click)="submitForm()" [disabled]="form.invalid">Log In</button>
    </form>

    <div class="form-footer">
      <p>New to PetFinder? <a href="/signup" class="link-signup">Sign Up</a></p>
    </div>
  </div>
</div>