<div class="signup-container">
  <div class="signup-card">
    <h1 class="signup-title">Welcome back</h1>
    <p class="signup-subtitle"></p>
    
    <form class="signup-form" (ngSubmit)="onSubmit()" #signupForm="ngForm">


      <div class="form-group">
        <label for="email" class="form-label">Email Address</label>
        <input 
          type="email" 
          id="email" 
          class="form-input" 
          name="email"
          [(ngModel)]="userObject.email"
          placeholder="Enter your email"
        />
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input 
          type="password" 
          id="password" 
          class="form-input" 
          name="password"
          [(ngModel)]="userObject.password"
          placeholder="Enter your password"
        />
      </div>

      <button type="submit" class="btn-submit">Log In</button>
    </form>

    <div class="form-footer">
      <p>Don't have an account? <a href="/" class="link-signup">Sign Up</a></p>
    </div>
  </div>
</div>


