@use 'vars' as *;

.post-detail {
  margin-top: 40px;
}

.description-wrapper {
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.description {
  width: 552px;
  word-break: break-word;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.comment-input {
  margin-top: 20px;
  margin-bottom: 20px;
  text-indent: 20px;
  border-radius: 30px;
  height: 50px;
  width: 552px;
  border: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;

  &:focus {
    outline: none;
    border-color: #0066cc;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.3);
  } 
  
  // Placeholder styling
  &::placeholder {
    color: #999;
    font-size: 14px;
    margin-left: 10px;
    opacity: 1;
    font-size: 16px;

  }

  // Placeholder on focus (optional)
  &:focus::placeholder {
    color: #bbb;
  }

}

.comments-wrapper {
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 2rem;
  
  .comment {
    width: 552px;
    
    .user {
      font-weight: bold;
    }
  } 
}

hr {
  border: none;
  height: 3px;
  background-color: #ffffff;
  width: 100%;
}