
.search-wrapper {
  position: relative;

  .search-bar {
    margin: 1rem auto;
    display: block;
    width: 20%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid #ffffff;
    border-radius: 25px;
    outline: none;
  }

  div {
    position: absolute;
    top: 0;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.page-container {
  align-items: initial;
  justify-content: unset;
  flex-direction: column;
}

hr {
  border: none;
  height: 2px;
  background-color: #e6e7ea;
  width: 100%;
}

//post card
.card {
  max-width: 520px;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}


.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}


.header-icons {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #000;
}


.name {
  font-weight: 600;
  font-size: 14px;
}


.time {
  font-size: 12px;
  color: #777;
  }


.location {
  margin-left: auto;
  background: #c5c5c5;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
  color: #444;
}


.title {
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0 12px;
}

//obrazky zvierat
.pets-pics {
  max-width: 100%;
  height: auto;
}

//vybavene + checkmark
.status {
  margin-left: 2rem;
}

.image-wrapper {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}



.image-wrapper img {
  width: 100%;
  display: block;
}


.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(255,255,255,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}


.nav.left { left: 8px; }
.nav.right { right: 8px; }


.footer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  margin-left: 20px;
  font-size: 14px;
  color: #444;
}


.likes {
  display: flex;
}
