.search-wrapper {
  position: relative;

  .search-bar {
    margin: 1rem auto;
    display: block;
    width: 20%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid #ffffff;
    border-radius: 25px;
    outline: none;
  }

  div {
    position: absolute;
    top: 0;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  //add post + user buttons
  .header-icons {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
}

.page-container {
  align-items: initial;
  justify-content: unset;
  flex-direction: column;
}

hr {
  border: none;
  height: 2px;
  background-color: #e6e7ea;
  width: 100%;
}

.posts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

//post card
.card {
  max-width: 520px;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}