<div class="page-container">
  <div class="search-wrapper">
    <input type="search" class="search-bar" placeholder="Search lost pet"/>

    <div>
      <img class="header-icons" src="/images/add.png" alt="add post"/>
      <img class="header-icons" src="/images/user.png" alt="user"/>
    </div>
  </div>
  <hr>

  <div class="card">
    <div class="header">
      <div class="avatar"></div>
      <div>
        <div class="name">Martin Kučiak</div>
        <div class="time">14 hrs. ago</div>
      </div>
      <div class="location">Nové Mesto nad Váhom</div>
    </div>


    <div class="title">Meno zvieraťa</div>


    <div class="image-wrapper">
      <!-- TODO dorobit slider -->
      <!-- <div class="nav left"><</div> -->
      <img class="pets-pics" src="/images/cat.avif" alt="Cat" />
      <!-- <div class="nav right">></div> -->
    </div>


    <div class="footer">
      <div class="likes">
        <div class="toggle"></div>
        <span>56</span>
      </div>
      <div class="status">✔ solved</div>
    </div>
  </div>
</div>
