<div class="page-container">
  <div class="search-wrapper">
    <input type="search" class="search-bar" placeholder="Search lost pet"/>

    <div>
      <img (click)="openAddPetDialog()" class="header-icons" src="/images/add.png" alt="add post"/>
      <img class="header-icons" src="/images/user.png" alt="user"/>
    </div>
  </div>
  <hr>

  <div class="posts-wrapper">
    @if (posts && posts.length !== 0) {
      @for (post of posts; track post.id) {
        <app-post [post]="post"/>
      } @empty {
        <p>No items found</p>
      }
    } @else {
      <p>Loading...</p>
    }
  </div>
</div>
