.search-bar {
    margin: 1rem auto;
    display: block;
    width: 20%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid #ffffff;
    border-radius: 25px;
    outline: none;
}

hr {
    margin-top: 0.5rem;
    border: none;
    height: 1px;
    background-color: #e6e7ea;
    width: 100%;
}
