<div class="page-container">
  <div class="search-wrapper">
    <input type="search" class="search-bar" placeholder="Search lost pet"/>

    <div>
      <img class="header-icons" src="/images/add.png" alt="add post"/>
      <img class="header-icons" src="/images/user.png" alt="user"/>
    </div>
  </div>
  <hr>

  @for (post of posts; track post.id) {
    <div class="card">
      <div class="header">
        <div class="avatar"></div>
        <div>
          <div class="name">{{ post.createdBy }}</div>
          <div class="time">{{ post.createAt }}</div>
        </div>
        <div class="location">{{ post.location }}</div>
      </div>


      <div class="title">{{ post.petName }}</div>


      <div class="image-wrapper">
        <!-- TODO dorobit slider -->
        <!-- <div class="nav.left"><</div> -->
        <img class="pets-pics" src="/images/cat.avif" alt="Cat" />
        <!-- <div class="nav.right">></div> -->
      </div>


      <div class="footer">
        <div class="likes">
          <div class="toggle"></div>
          <span>{{ post.intractionsCount }}</span>
        </div>

        @if (post.solved) {
          <div class="status">✔ solved</div>
        } @else {
          <div class="status">X unsolved</div>
        }
      </div>
    </div>
  } @empty {
    <p>No items found</p>
  }
</div>
