<div class="card">
  <div class="header">
    <img class="avatarPic" [src]="post?.userAvatar" alt="Avatar">
    <div>
      <div class="name">{{ post?.createdBy }}</div>
      <div class="time">{{ post?.createdAt }}</div>
    </div>
    <div class="location">{{ post?.location }}</div>
  </div>


  <div class="title">{{ post?.petName }}</div>


  @if (post?.photos) {
    <div class="image-wrapper">
      <img class="pets-pics" [src]="post?.photos" alt="Pet" />
    </div>
  }


  <div class="footer">
    <div class="likes">
      <div class="toggle"></div>
      <span>{{ post?.interactionsCount }}</span>
    </div>

    <!-- TODO @if (post?.solved) {
      <div class="status">✔ solved</div>
    } @else {
      <div class="status">X unsolved</div>
    } -->
  </div>
</div>