<div class="card">
  <div class="header">
    <div class="avatar"></div>
    <div>
      <div class="name">{{ post?.createdBy }}</div>
      <div class="time">{{ post?.createAt }}</div>
    </div>
    <div class="location">{{ post?.location }}</div>
  </div>


  <div class="title">{{ post?.petName }}</div>


  @if (post?.photos && post?.photos?.length !== 0) {
    <div class="image-wrapper">
      <img class="pets-pics" [src]="post?.photos?.[0]" alt="Pet" />
    </div>
  }


  <div class="footer">
    <div class="likes">
      <div class="toggle"></div>
      <span>{{ post?.intractionsCount }}</span>
    </div>

    @if (post?.solved) {
      <div class="status">✔ solved</div>
    } @else {
      <div class="status">X unsolved</div>
    }
  </div>
</div>