//post card
.card {
  max-width: 520px;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  cursor: pointer;
}

//hlavicka postu
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;

  .avatarPic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #000;
  }

  .name {
    margin-top: 0.2rem;
    font-weight: 600;
    font-size: 14px;
  }

  .time {
    font-size: 12px;
    color: #777;
  }

  .location {
    width: fit-content !important;
    background: #c5c5c5;
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
    color: #444;
  }

  .breed {
    font-size: 0.9rem;
    text-transform: capitalize;
  }

  .metadata-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .metadata-right {
      div {
        display: flex;
        justify-content: end;
        width: 100%;
      }
    }
  }
}

//meno zvieratka
.title {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 8px 0 12px;
}

.image-wrapper {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  
  .image-wrapper img {
    width: 100%;
    display: block;
  }

  //obrazky zvierat
  .pets-pics {
    max-width: 100%;
    height: auto;
  }
}

//TODO urobit slider pre viac obrazkov
// .nav.left { left: 8px; }
// .nav.right { right: 8px; }


//pocet komentov + solved buttons
.footer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  margin-left: 20px;
  font-size: 14px;
  color: #444;

  //solved + checkmark
  .status {
    margin-left: 2rem;
  }

  //pocet komentov
  .likes {
  display: flex;
  }
}