<div class="card" (click)="openPostDetail()">
  <div class="header">
    <img class="avatarPic" [src]="post?.userAvatar" alt="Avatar">
    <div class="metadata-container">
      <div>
        <div class="name">{{ post?.createdBy }}</div>
        <div class="time">{{  getLocalTimeString() }}</div>
      </div>
      <div class="metadata-right">
        <div>
          <div class="location">{{ post?.location }}</div>
        </div>
        <div class="breed">{{ post?.animalType }} • {{post?.breed}}</div>
      </div>
    </div>
  </div>


  <div class="title">{{ post?.petName }}</div>


  @if (post?.photos) {
    <div class="image-wrapper">
      <img class="pets-pics" [src]="post?.photos" alt="Pet" />
    </div>
  }


  <div class="footer">
    <div class="likes">
      <div class="toggle"></div>
      @if (post?.comments) {
        <span>{{ post?.comments?.length }}</span>
      } @else {
        <span>0</span>
      }
    </div>

    <!-- TODO  @if (post?.solved) {
      <div class="status">✔ solved</div>
    } @else {
      <div class="status">X unsolved</div>
    } -->
  </div>
</div>